@import 'leaflet.css';

@font-face {
    font-family: open-sans;
    src: url('/font/OpenSans-Regular.ttf');
}

*{
    box-sizing: border-box;
    font-family: open-sans;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;

}

#notifications-container{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    z-index: 9999;
    span {
        transform: translateY(-400px);
        color: white;
        width: 100%;
        display: block;
        background: rgba(0,0,0,0.5);
        margin-top: 30px;
        padding: 15px;
        transition: transform 0.5s ease;
        font-size: 14px;
        &.success{
            background: rgba(77, 255, 64,0.5);
        }
        &.open{
            transform: translateY(0px);
        }
    }
}
.content-container{
    padding: 20px;
    position: relative;
}

input[type=text] {
    width: 100%;
    padding: 6px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.container{
    position: relative;
    z-index: 3;
}

#new-order-container{
    .map{
        height: 70vh;
        z-index: 1;
    }
    .content-container{
        height: 90vh;
        width: 100%;
        position: absolute;
        top: 70vh;
        left: 0;
        z-index: 2;
        background: white;
        transition: top 0.5s ease;
    }

    input[type=text]{
        padding: 10px 15px;
    }

    &.active{
        .content-container{
            top: 10vh;
        }
    }
}

#driver-dashboard-container{
    .map{
        height: 100vh;
        z-index: 1;
    }
}

svg.pulse-svg{
    overflow: visible;
    .first-circle{
        fill: #f00;
        transform: scale(0.5);
        transform-origin: center center;
        animation: pulse-me 3s linear infinite;
    }
    .second-circle{
        @extend .first-circle;
        animation-delay: 1s;
    }
    .third-circle{
        @extend .first-circle;
        animation-delay: 2s;
    }
}

@keyframes pulse-me{
    0%{
        transform: scale(0.5);
        opacity: 0;
    }
    50%{
        opacity: 0.1;
    }
    70%{
        opacity: 0.09;
    }
    100%{
        transform: scale(5);
        opacity: 0;
    }
}