{% extends 'base.html.twig' %}

{% block title %}New Order{% endblock %}

{% block stylesheets %}
    <style lang="scss">
        .form-group {
            margin-top: 20px;
        }

        input, select {
            display: block;
        }

        button {
            padding: 5px 10px;
            background: transparent;
            border: 1px solid #333;
            color: #333;
        }

        #carTypeInput button{
            margin-top: 15px;
        }

        #carTypeInput {
            transition: all 0.3s ease-in;
        }

        select{
            width: 130px;
            height: 30px;
        }
        .hide {
            visibility: hidden;
        }
    </style>

{% endblock %}

{% block body %}
    <div id="new-order-container" class="container">
        <div class="map" id="area-map"></div>
        <div id="content" class="content-container">
            <input id="locationInput" placeholder="Where are you going?" type="text"/>
            <div id="carTypeInput" >
                {{ include('order/_form.html.twig') }}
            </div>
        </div>
    </div>

    <script>


        const container = document.getElementById("content")
        const newOrderContainer = document.getElementById("new-order-container")
        const mapArea = document.getElementById("area-map")
        const locationInput = document.getElementById("locationInput")
        const carTypeInput = document.getElementById("carTypeInput")

        container.addEventListener("click", () => {
            newOrderContainer.classList.add("active")
        })

        mapArea.addEventListener("click", () => {
            newOrderContainer.classList.remove("active")
        })

        locationInput.addEventListener("input", () => {
            console.log("heloo")
            locationInput.value ? carTypeInput.classList.remove('hide') : carTypeInput.classList.add('hide')
        })


        const map = L.map('area-map').setView([54.903914, 23.958851], 13);
        getCurrentDeviceLocation()

        L.tileLayer(
            "https://api.maptiler.com/maps/basic/{z}/{x}/{y}.png?key=ltrALA6k9d2bkEeRn8Fn",
            {
                attribution:
                    '<a href="https://www.maptiler.com/copyright/" target="_blank">© MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">© OpenStreetMap contributors</a>'
            }
        ).addTo(map);


        const userIcon = L.icon({
            iconUrl: '/icons/svgs/solid/user.svg',
            shadowUrl: '/icons/svgs/solid/user.svg',
            iconSize: [20, 20],
        });


        const marker = L.marker([54.904914, 23.948851]).addTo(map);

        map.on('click', (e) => {
            document.getElementById("order_latCoordinateDestination").value = e.latlng.lat
            document.getElementById("order_lngCoordinateDestination").value = e.latlng.lng
            marker.setLatLng(e.latlng)
        });


        function getCurrentDeviceLocation() {
            if (navigator.geolocation) {
               navigator.geolocation.getCurrentPosition(showPosition);

            } else {
                console.error("User disabled its location");
            }
        }

        function showPosition(position) {
            const lat = position.coords.latitude
            const lng = position.coords.longitude
            const userMarker = L.marker([lat, lng], {icon: userIcon}).addTo(map);
            document.getElementById("latCoordinateStart").value = lat
            document.getElementById("lngCoordinateStart").value = lng

        }

    </script>
{% endblock %}
