{% extends 'base.html.twig' %}

{% block title %}New Order{% endblock %}

{% block scripts %}
    <script src="/services/map/index.js"></script>
{% endblock %}

{% block stylesheets %}
    <style lang="scss">
        .form-group {
            margin-top: 20px;
        }

        input, select {
            display: block;
        }

        button {
            padding: 5px 10px;
            background: transparent;
            border: 1px solid #333;
            color: #333;
        }

        #carTypeInput button{
            margin-top: 15px;
        }

        #carTypeInput {
            transition: all 0.3s ease-in;
        }

        select{
            width: 130px;
            height: 30px;
        }
        .hide {
            visibility: hidden;
        }
    </style>

{% endblock %}

{% block body %}
    <div id="new-order-container" class="container">
        <div class="map" id="area-map"></div>
        <div id="content" class="content-container">
            <input id="locationInput" placeholder="Where are you going?" type="text"/>
            <div id="carTypeInput" >
                {{ include('order/_form.html.twig') }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        const container = document.getElementById("content")
        const newOrderContainer = document.getElementById("new-order-container")
        const mapArea = document.getElementById("area-map")
        const locationInput = document.getElementById("locationInput")
        const carTypeInput = document.getElementById("carTypeInput")

        container.addEventListener("click", () => {
            newOrderContainer.classList.add("active")
        })

        mapArea.addEventListener("click", () => {
            newOrderContainer.classList.remove("active")
        })

        locationInput.addEventListener("input", () => {
            console.log("heloo")
            locationInput.value ? carTypeInput.classList.remove('hide') : carTypeInput.classList.add('hide')
        })


        const map = initializeMap('area-map', [54.903914, 23.958851])

        const setUserPosition = (pos) => {
            document.getElementById("order_latCoordinateStart").value = pos.lat
            document.getElementById("order_lngCoordinateStart").value = pos.lng
            addMarker(map,pos,'box')
        }
        getCurrentDeviceLocation(setUserPosition)

        const destinationMarker = addMarker(map,{lat:54.904914, lng: 23.948851},'thumbtack')

        map.on('click', (e) => {
            document.getElementById("order_latCoordinateDestination").value = e.latlng.lat
            document.getElementById("order_lngCoordinateDestination").value = e.latlng.lng
            setMarkerLocation(destinationMarker,e.latlng)

        });

    </script>
{% endblock %}